/* sobre.css */

/* Reset de estilos padrão e estilização geral */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

/* Estilização do cabeçalho */
header {
    background-color: #00549e;
    color: white;
    padding: 10px 0;
}

.about-header p {
    text-align: center;
    font-size: 16px;
}

.wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2 {
    font-size: 28px;
    color: white;
    margin: 0;
}

.banner-ads {
    width: 60%;
    height: 100px;
    background-color: #222;
    position: relative;
}

.banner-ads h2 {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    font-size: 15px;
    font-style: italic;
}

/* Estilização do menu principal */
.menu-main {
    background-color: #00549e;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-main a {
    margin: 0 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu-main a:hover {
    text-decoration: underline;
}

/* Estilização das seções */
.sobre {
    max-width: 800px;
    margin: 20px auto;
    text-align: justify;
}

.sobre h1, .sobre h2 {
    color: #00549e;
}

.sobre h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.sobre h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.sobre p {
    margin-bottom: 15px;
}

.sobre a {
    color: #00549e;
    text-decoration: none;
    font-weight: bold;
}

.sobre a:hover {
    text-decoration: underline;
}
